.creds.yml
*.pyc
*__pycache__
*.DS_Store
*.ipynb
spark-warehouse
*.class
*.cache/
*.log
.coverage
logs/
unittests.cfg
data/*.json
data/yelp_academic_dataset_review.csv
data/yelp_academic_dataset_user.csv
yelp_academic_dataset_tip.csv
yelp_academic_dataset_business.csv
yelp_academic_dataset_checkin.csv
config/mysql_rds.config
data/yelp_academic_dataset_review_sample.csv
alembic.ini
config/mysql_rds.config