{
  "url":             "sqlite:///example.db",
  "host":            "sqlite",
  "dbname":          "yelp",
  "dbtable_batch":   "fulltable",
  "dbtable_stream":  "rddbatch",
  "mode_batch":      "overwrite",
  "mode_stream":     "append",
  "user":            "user",
  "password":        "password",
  "driver":          "com.mysql.jdbc.Driver",
  "numPartitions":   18,
  "partitionColumn": "time_slot",
  "lowerBound":      0,
  "upperBound":      144,
  "stringtype":      "unspecified",
  "topntosave":      10
}